
<div class="card-columns m-3 mt-5">

  {% for news in site.news %}

    {%- assign news_type  = "local" -%}
    {%- assign news_id    = news.name | slugify -%}
    {%- assign news_img   = news.image -%}
    {%- assign news_name  = news.name -%}
    {%- assign news_desc  = news.description -%}
    {%- assign news_tools = news.tools -%}
    {%- assign news_url = news.url | relative_url -%}

    {%- if news.external_url -%}
      {%- assign news_url = news.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign news_url = news.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include news/news-card.html %}

  {% endfor %}

  {% assign sorted = site.news | reverse %}

</div>
